[Desktop Entry]
Name=Emacs
GenericName=Text Editor
Comment=Edit text
MimeType=text/*;image/png;image/jpeg;image/svg;image/eps;image/gif;image/jpeg;image/tiff;image/swf;image/JPG;image/PNG;image/bmp;
Exec=emacsclient -n %F
Icon=emacs
Type=Application
Terminal=false
Categories=Development;TextEditor;
StartupWMClass=Emacs
Keywords=Text;Editor;
